.cus-icon {
  font-size: 35px;
  float: left;
  width: 20%;
}
.cus-icon-txt {
  float: left;
  width: 80%;
  text-align: left;
}
.banner {
  float: left;
  width: 100%;
}
.slide-but {
  position: absolute;
  top: 50%;
  padding: 10px;
  background: #6070fd;
}
.navbar-brand > img {
  height: 48px;
}
li.active a {
  background: #687aff !important;
  color: #fff !important;
}
.jumbotron {
  background: #fff !important;
  border-bottom: 1px solid #ddd;
}
.cus-text {
  padding: 30px 0 80px 0;
}
.cus-text h2 {
  color: #687aff;
  text-align: left;
  position: relative;
  left: 55%;
  font-weight: 600;
  line-height: 1.3;
  font-size: 35px;
}
.cus-text h3 {
  position: relative;
  left: 55%;
  text-align: left;
  font-weight: 600;
  z-index: 1;
  line-height: 1.5;
  font-size: 28px;
}
.ban-button {
  padding: 10px 15px;
  background: #fe856f;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 55%;
}
.img-sec {
  float: left;
  width: 80%;
  text-align: left;
}
.ban-button-a {
  padding: 10px 15px;
  background: #fe856f;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.ban-button-b {
  padding: 10px 15px;
  background: #fe856f;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.section-banner {
  float: left;
  padding: 20px;
  width: 100%;
  background: #f2f6ff;
}
.section-banner {
  margin-bottom: 30px;
}
.mar-spa {
  margin-bottom: 30px;
}
.banner-act {
  border-bottom: 1px solid #ddd;
  padding: 25px;
  border-left: 5px solid #ff6b5e !important;
  font-size: 15px;
  text-align: justify;
  background-color: #fff0f0;
}
.font-num {
  font-size: 4em;
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
}
/*.brand-img {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 8px 0 #ddd;
    margin-right: 2%;
}*/
.font-sec {
  padding: 0 10px;
  background: #febaad;
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
}
span.font-txt.text-center {
  position: relative;
  top: -15px;
  color: #fff;
}
.font-alt {
  background: #fff0f0;
  border-radius: 50%;
  padding: 15px 0;
  width: 65%;
  margin: 0 auto;
}
.col-md-2.brand-img {
  text-align: center;
  box-shadow: 0 5px 1px 0.5px #d2d2d2;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ddd;
  min-height: 112px;
}
.blog-txt {
  padding: 25px;
  margin-bottom: 20px;
}
.blog-but {
  background-color: #f1f6f9;
  position: relative;
  padding: 10px;
  top: -60px;
  float: left;
  width: 100%;
}
.img-icon {
  padding: 5px;
  background: blue;
  color: #fff;
  width: 50px;
}
.icon {
  padding: 5px 20px;
}
.thumbnail {
  padding: 0 !important;
  border: unset !important;
}
.blog-txt h3 {
  font-weight: 550;
  line-height: 1.3;
}
p.text-left {
  line-height: 2;
}
.blog-txt-a {
  padding: 0 25px;
  margin-bottom: 50px;
}
.blog-but {
  top: -30px;
}
.section-update {
  float: left;
  width: 100%;
  background: #f1f6f9;
  padding: 5% 0;
}
.update {
  padding-top: 3%;
}
.btn-clr {
  background-image: linear-gradient(to right, #79ccff, #6170ff);
  color: #fff;
  border: unset;
  font-weight: 550;
}
.update-head h2 {
  font-size: 40px;
  font-weight: 550;
  margin-top: 10px;
}
.navbar-default {
  background-color: #fff !important;
}
